<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.igeek.ssm.mapper.CityMapper">

    <resultMap id="CityMap" type="Cities">
        <id property="id" column="id"/>
        <result property="cityid" column="cityid"/>
        <result property="cityname" column="city"/>
        <result property="provinceid" column="provinceid"/>
    </resultMap>

    <select id="selectCitiesById" parameterType="String" resultMap="CityMap">
        select a.* from cities a where a.provinceid=#{id};
    </select>

</mapper>